@media screen and (min-width:1366px) {
    section .about::after, section .about::before {
        width: 16%;
        top: -20%;
    }
    section .about .buy_sell,
    section .about .text {
        width: 70%;
    }
    section .object_page .actual_object .right_side .realtor .realtor_objects,
    section .object_page .actual_object .right_side .realtor .cases,
    section .contacts_page .contacts_inner .realtors .realtor .realtor_objects,
    section .contacts_page .contacts_inner .realtors .realtor .cases {
        padding: 14px 0px 14px 0px;
        display: flex;
        justify-content: center;
    }
    section .categories {
        justify-content: space-between;
    }
    section .categories li:nth-child(n) {
        margin: 0;
    }
}
@media screen and (min-width: 1680px) {
    section .about::after, section .about::before {
        background-position: 0 center;
    }
    section .about .buy_sell, section .about .text {
        width: 68%;
    }
}
@media screen and (min-width:2160px) {
    section .about::after, section .about::before {
        width: 13%;
        top: -45%;
    }
}
@media screen and (max-width:1200px) {
    section .contacts_page .contacts_inner .realtors .realtor .casual_button {
        padding: 10px 10px;
    }
    header .header_right_side .telephone {
        font-size: 24px;
    }
    section .seling_carousel .owl-item>div {
        height: 40vmax;
    }
    section .seling_carousel .seling_carousel_info {
        width: 60%;
    }
    section .categories li:nth-child(n) {
        margin: 1% 3% 1% 0;
    }
    section .cases_page .agent_cases .agent_item .description,
    section .case_with>div .description,
    section .cases .owl-item>div .description {
        display: none;
    }
    section .cases_page .agent_cases .agent_item .case,
    section .cases_page .agent_cases .agent_item .realtor,
    section .case_with>div .case,
    section .case_with>div .realtor,
    section .cases .owl-item>div .case,
    section .cases .owl-item>div .realtor {
        border-right: 1px solid #dbdbdb;
        width: 50%;
    }
    section .blog .blogs {
        align-items: stretch;
    }
    section .blog .blogs .blogs_item {
        flex-direction: column;
    } 
    section .blog .blogs .blogs_item .img {
        width: 100%;
        padding-bottom: 62%;
    }
    section .blog .blogs .blogs_item div {
        width: 100%;
        height: 100%;
        border: 1px solid #dbdbdb;
        border-top: none;
        padding-bottom: 15px;
        justify-content: flex-start;
    }
    section .blog .blogs .blogs_item .name {
        margin-top: 15px;
    }
    section .about::after, section .about::before {
        display: none;
    }
    section .cases_page .realtor_category .realtor_item a .img,
    section .category_page .realtor_category .realtor_item a .img {
        width: 160px;
        padding-bottom: 160px;
    }
    section .blog_in_page .object_title,
    section .about_us_page .object_title,
    section .case_in_page .object_title,
    section .object_title {
        padding: 0 100px;
    }

}
@media screen and (max-width:1024px) {
    .panel>.list-group .list-group-item[data-toggle="popover-price"],
    .panel>.list-group .list-group-item[data-toggle="popover-price"] + .list-group-item[id^='option'] {
        width: 100%;
        padding: 10px 15px;
    }
    .header_left_side p,
    .header_right_side p {
        font-size: 16px;
    }
    header .header_left_side>div {
        padding: 16px 0;
    }
    header .header_left_side div input {
        width: 180px;
    }
    section .object_page .actual_object .right_side,
    section .seotext .agent,
    header .header_right_side .telephone img,
    header .header_right_side .callback.casual_button,
    header .header_left_side .menu,
    header .header_left_side div a {
        display: none;
    }
    section .case_in_page .case_inner .right_side .realtor .realtor_objects,
    section .case_in_page .case_inner .right_side .realtor .cases {
        text-align: center;
        justify-content: center;
        padding-left: 0;
    }
    section .blog_in_page .blog_inner .left_side,
    section .blog_in_page .blog_inner .right_side,
    section .case_in_page .case_inner .left_side,
    section .case_in_page .case_inner .right_side,
    section .contacts_page .contacts_inner .right_side,
    section .contacts_page .contacts_inner .left_side,
    section .object_page .actual_object .left_side {
        width: 100%;
        padding: 0;
    }
    section .contacts_page .contacts_inner .contact_details,
    section .contacts_page .contacts_inner .call_me_back_inner {
        width: 50%;
    }
    section .contacts_page .contacts_inner .contact_details {
        padding-right: 20px;
    }
    section .contacts_page .contacts_inner .realtors .realtor {
        width: 49%;
        margin-right: 0;
    }
    section .contacts_page .contacts_inner .realtors .realtor:nth-child(2n) {
        margin-right: 2%;
    }
    section .contacts_page .contacts_inner .realtors .img {
        width: 100%;
        padding-bottom: 69.2%;
    }
    section .contacts_page .contacts_inner .realtors .realtor .realtor_objects, 
    section .contacts_page .contacts_inner .realtors .realtor .cases {
        padding-left: 10px;
    }
    section .contacts_page .contacts_inner .right_side {
        flex-direction: row;
    }
    section .object_page .actual_object .left_side .mobile {
        display: block;
    }
    section .object_page .actual_object .card_label.mobile,
    section .object_page .actual_object .realtor.mobile {
        display: flex;
    }
    section .object_page .actual_object .specials.mobile {
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 25px;
    }
    section .object_page .actual_object .left_side .object_description {
        border: none;
    }
    section .object_page .actual_object .realtor .realtor_objects, section .object_page .actual_object .realtor .cases {
        padding-left: 0;
        justify-content: center;
    }
    section .object_page .same_objects {
        margin-left: -60px;
        margin-right: -60px;
    }
    header .header_right_side .telephone {
        height: 60px;
    }
    header {
        padding: 15px 60px 5px;
        align-items: center;
    }
    header .logo {
        width: 140px;
    }
    section .about,
    section {
        padding: 0 60px;
    }
    section .about,
    section .cases,
    section .promo_block,
    section .slider {
        margin-right: -60px;
        margin-left: -60px;
    }
    section .promo_block {
        padding-bottom: 30px;
        overflow: hidden;
    }
    section .cases .slider {
        margin-right: -50px;
        margin-left: -50px;
    }
    footer {
        padding: 40px 60px;
    }
    section .promo_block>img {
        right: -20%;
        max-height: 100%;
        width: 700px;
        top: 30px;
    }
    .mob-menu {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 99;
    }
    .mob-callback {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 99;
    }
    section .about .buy_sell {
        max-width: 100%;
    }
    section .about .buy_sell a {
        font-size: 18px;
    }
    section .about_us_page .about_inner .right_side,
    section .about_us_page .about_inner .left_side,
    section .seotext .text,
    section .about .text {
        width: 100%;
    }
    section .about_us_page .about_inner .right_side,
    section .about_us_page .about_inner .left_side {
        padding-left: 0;
        margin-bottom: 30px;
    }
    section .agent_with_cards .agent .is_agent .img {
        width: 145px;
        height: 145px;
    }
    section .agent_with_cards .agent .is_estate p,
    section .agent_with_cards .agent .is_agent p {
        font-size: 16px;
    }
    section .agent_with_cards .agent .is_estate,
    section .agent_with_cards .agent .is_agent {
        padding: 25px 20px;
    }
    section .agent_with_cards .agent .is_estate .title {
        font-size: 24px;
    }
    section .promo_block .text {
        width: 34%;
    }
    section .services .services_items .item {
        width: 29%;
        margin: 1% 2% 1% 2%;
    }
    section .choise #price_from, section .choise #price_to {
        width: 10%;
    }
    section .choise #value {
        width: 7%;
    }
    .panel>.list-group .list-group-item[id^='option'] {
        width: 33%;
    }
    .panel>.list-group .list-group-item[id^='option'] {
        width: 33%;
    }
    section .about_us_page .about_inner,
    section .cases_page .realtor_category,
    section .category_page .realtor_category {
        flex-wrap: wrap;
    }
    section .cases_page .realtor_category .realtor_item,
    section .category_page .realtor_category .realtor_item {
        width: 49%;
        min-height: auto;
        margin-bottom: 2%;
        padding: 0 10px;
    }
    section .cases_page .realtor_category .realtor_item a .img,
    section .category_page .realtor_category .realtor_item a .img {
        width: 100px;
        padding-bottom: 100px;
        margin-right: 20px;
    }
    section .cases_page .realtor_category .realtor_item a .job,
    section .cases_page .realtor_category .realtor_item .watch_cases,
    section .category_page .realtor_category .realtor_item a .job,
    section .category_page .realtor_category .realtor_item .watch_cases {
        display: none;
    }
    section .cases_page .realtor_category .realtor_item a,
    section .category_page .realtor_category .realtor_item a {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    section .category_page .cards .card:nth-child(n),
    section .category_page .catalog .tabs_catalog .catalog_item:nth-child(n) {
        width: 49.5%;
        margin: 1% 1% 0 0;
    }
    section .category_page .cards .card:nth-child(n) {
        margin: 0 1% 1% 0;
    }
    section .category_page .cards .card:nth-of-type(2n),
    section .category_page .catalog .tabs_catalog .catalog_item:nth-of-type(2n) {
        margin-right: 0;
    }
    section .cases_page .realtor_category .realtor_item a .img+div,
    section .category_page .realtor_category .realtor_item a .img+div {
        flex-direction: column;
        justify-content: flex-start;
        display: flex;
        align-items: flex-start;
    }
}
@media screen and (max-width:768px) {
    section .cases_page .realtor_category {
        align-items: stretch;
    }
    section .cases_page .realtor_category .realtor_item a {
        flex-direction: column;
    }
    section .cases_page .realtor_category .realtor_item a .img {
        margin-right: 0;
    }
    section .card_label span {
        height: 20px;
    }
    footer .footer_right_side .telephone {
        font-size: 32px;
    }
    .list-group-item.ocfilter-option[data-original-title] .option-values {
        flex-wrap: wrap;
    }
    .list-group-item.ocfilter-option[data-original-title] .option-values .form-control {
        width: 100%;
        margin-top: 30px;
    }
    .list-group-item.ocfilter-option[data-original-title] .option-values .scale {
        width: 100%;
    }
    section .case_with>div .realtor,
    section .cases .owl-item>div .realtor,
    section .cases_page .agent_cases .agent_item .realtor,
    header .header_right_side {
        display: none;
    }
    section .cases_page .agent_cases .agent_item .case,
    section .case_with>div .case,
    section .cases .owl-item>div .case {
        width: 100%;
    }
    section .cases_page .agent_cases .agent_item .case {
        padding: 20px 10px 15px;
    }
    section .cases_page .agent_cases .agent_item .case a {
        padding: 14px 15px;
        width: 100%;
        align-self: center;
        text-align: center;
    }
    header {
        flex-direction: column;
    }
    header .logo {
        left: 0;
        order: 0;
    }
    header .header_left_side {
        order: 1;
        width: 100%;
        align-items: center;
    }
    header .header_left_side div input {
        width: 300px;
    }
    .header_left_side .telephone {
        display: inline-block;
        font-size: 24px;
        font-family: "GothamPro_Med";
        text-decoration: none;
        padding: 5px 0;
    }
    header .header_left_side>div {
        padding-top: 0;
    }
    section .categories {
        justify-content: center;
    }
    section .promo_block .categories {
        justify-content: flex-start;
    }
    section .choise, section .choise>* {
        flex-wrap: wrap;
    }
    section .choise select {
        margin-bottom: 10px;
    }
    section .choise button[type='submit'],
    section .agent_with_cards .cards,
    section .choise #type, section .choise #region {
        width: 100%;
    }
    section .choise #price_from, section .choise #price_to, section .choise #value {
        width: 32%;
    }
    section .services .services_items .item {
        width: 48%;
        margin: 1%;
    }
    section .promo_block>img {
        position: relative;
        right: -50px;
        top: 0;
        width: 100%;
    }
    section .promo_block .text {
        width: 100%;
    }
    section .agent_with_cards .agent {
        display: none;
    }
    section .about .buy_sell a {
        padding: 10px 15px;
    }
    section .category_page .catalog .sort_filter .change_view {
        display: none;
    }
    .show-up-to, .sort-up-to {
        width: 50%;
        display: inline-block;
        float: left;
        margin: 0 0 2%;
    }
    section .blog_in_page .object_title,
    section .case_in_page .object_title,
    section .object_title {
        padding: 0 50px;
    }
    section .blog_in_page .object_title .title,
    section .about_us_page .object_title .title,
    section .case_in_page .object_title .title,
    section .object_title .title {
        font-size: 24px;
    }
    section .blog_in_page .object_title .backward,
    section .case_in_page .object_title .backward,
    section .object_title .backward {
        padding-left: 40px;
        top: 40px;
    }
    section .blog_in_page .object_title .backward::before,
    section .case_in_page .object_title .backward::before,
    section .object_title .backward::before {
        width: 35px;
        height: 75px;
    }
    section .blog_in_page .object_title .backward img,
    section .case_in_page .object_title .backward img,
    section .object_title .backward img {
        left: 3px;
        width: 30px;
    }
    section .blog_in_page .object_title,
    section .about_us_page .object_title,
    section .case_in_page .object_title,
    section .object_title { 
        padding: 50px 0 0;
    }
    section .category_page .actual_object .left_side .object_description .info {
        margin: 0 0 20px;
        width: 100%;
    }
    section .category_page .actual_object .left_side .object_description.spec_object_description {
        border-bottom: 1px solid #dbdbdb;
    }
    section .category_page .actual_object .details.mobile:nth-of-type(n) {
        margin-bottom: 20px;
        border-bottom: 1px solid #dbdbdb;
    }
    section .category_page .actual_object .card_label.mobile {
        margin-top: 20px;
    }
    section .blog_page .blog_item {
        flex-direction: column;
        padding: 20px 20px 35px;
    }
    section .blog_page .blog_item .text {
        width: 100%;
        padding: 0;
    }
    section .blog_page .blog_item .text .bottomed {
        margin-top: 15px;
    }
    section .blog_page .blog_item .img {
        width: 70%;
        padding-bottom: 44%;
    }

}
@media screen and (max-width:650px) {
    section .contacts_page .contacts_inner .realtors .realtor:nth-child(n) {
        width: 100%;
        margin-right: 0;
    }
    section .contacts_page .contacts_inner .realtors .realtor .img {
        padding: 0;
    }
    section .contacts_page .contacts_inner .realtors .realtor .realtor_objects, section .contacts_page .contacts_inner .realtors .realtor .cases {
        justify-content: center;
    }
    section .contacts_page .contacts_inner .contact_details, section .contacts_page .contacts_inner .call_me_back_inner {
        width: 100%;
    }
        section .contacts_page .contacts_inner .right_side {
        flex-direction: column;
    }
    section .contacts_page .contacts_inner .realtors {
        margin-top: 30px;
    }
    section .object_page .actual_object .left_side .object_photo a:nth-child(n) {
        width: 22.7%;
        margin-left: 3%;
    }
    section .object_page .actual_object .left_side .object_photo a:nth-child(4n+2) {
        margin-left: 0;
    }    
    section .object_page .actual_object .left_side .object_photo a.main_photo {
        width: 100%;
        margin-left: 0;
    }
    .panel>.list-group .list-group-item[id^='option'] {
        width: 50%;
    }
    .show-up-to {
        width: 35%;
    }
    .sort-up-to {
        width: 65%;
    }
    header {
        padding: 15px 10px 5px;
        align-items: center;
    }
    section .about,
    section .cases,
    section {
        padding: 0 10px;
    }
    section .object_page .same_objects,
    section .about,
    section .cases,
    section .promo_block,
    section .cases .slider,
    section .slider {
        margin-right: -10px;
        margin-left: -10px;
    }
    footer {
        padding: 40px 10px;
    }
    section .seling_carousel .owl-nav {
        display: none;
    }
    section .seling_carousel .seling_carousel_info {
        width: 90%;
    }
    section .cases_carousel .owl-nav .owl-prev span {
        left: 0;
    }
    section .cases_carousel .owl-nav .owl-next span {
        right: 0;
    }
    section .promo_block>img {
        right: 50px;
        width: 130%;
    }
    footer .footer_left_side, footer .footer_right_side {
        width: 100%;
    }
    footer .footer_left_side .categories li {
        width: 100%;
    }
    footer .footer_right_side .telephone {
        font-size: 24px;
        line-height: 24px;
        padding: 0;
    }
    footer .footer_right_side .mailto {
        font-size: 18px;
    }
    footer .footer_right_side {
        align-items: flex-start;
        margin-top: 20px;
    }
    footer .footer_right_side .socials {
        margin: 20px 0;
    }
    footer .footer_right_side .socials li:first-of-type a {
        margin-left: 0;
    }
    footer .m2 {
        order: 1;
        margin: 0 0 15px;
    }
    footer p {
        order: 2;
        width: 100%;
    }
    section .blog_in_page .blog_inner .left_side .two_rows_text div,
    section .about_us_page .about_inner .left_side .two_rows_text div,
    section .category_page .realtor_category .realtor_item {
        width: 100%;
    }
    section .blog_in_page .blog_inner .left_side .two_rows_text,
    section .about_us_page .about_inner .left_side .two_rows_text {
        flex-wrap: wrap;
    }

}
@media screen and (max-width:500px) {
    section .contacts_page .contacts_inner .map {
        padding-bottom: 80%;
    }
    section .blog_page .blog_item .img {
        width: 100%;
        padding-bottom: 62%;
    }
    section .about_us_page .about_inner .left_side ul li,
    section .about_us_page .about_inner .left_side ol li {
        padding-left: 30px;
        margin-left: 10px;
    }
    section .about_us_page .about_inner .left_side .bordered {
        padding: 20px 30px;
    }
    #map-products-outer {
        padding-bottom: 100%;
    }
    section .category_page .catalog .sort_filter #input-sort, section .category_page .catalog .sort_filter #input-limit {
        margin-right: 0;
    }
    .sort-up-to {
        margin-bottom: 20px;
    }
    section .same_obj_slider .owl-nav .owl-prev span {
        left: 0;
    }
    section .same_obj_slider .owl-nav .owl-next span {
        right: 0;
    }
    section .object_page .actual_object .realtor.mobile {
        margin-left: -10px;
        margin-right: -10px;
        border-radius: 0;
        border-left: none;
        border-right: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .custom_product_photo_slider button {
        height: 90px;
        width: 45px;
    }
    .custom_product_photo_slider button::after,
    .custom_product_photo_slider button::before {
        width: 25px;
        left: 5px;
    }
    .custom_product_photo_slider button::after {
        bottom: 35px;
    }
    .custom_product_photo_slider button::before {
        top: 35px;
    }
    .custom_product_photo_slider button.next_slide::after,
    .custom_product_photo_slider button.next_slide::before {
        right: 5px;
    }
    section .category_page .title, section .seotext .text .title, section .seotext {
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    header .header_left_side div input {
        width: 260px;
    }
    .panel>.list-group .list-group-item[id^='option'] {
        padding: 5px;
    }
    .list-group-item.ocfilter-option[data-original-title] .option-values {
        margin-bottom: 0;
    }
    section .category_page .realtor_category .realtor_item a .img {
        margin-right: 10px;
    }
    section .category_page .cards .card:nth-child(n),
    section .category_page .catalog .tabs_catalog .catalog_item:nth-child(n) {
        width: 100%;
        margin: 0 0 2%;
    }
    section .category_page .catalog .sort_filter {
        flex-direction: column;
    }
    .show-up-to, .sort-up-to,
    section .agent_with_cards .card {
        width: 100%;
    }
    section .promo_block>img {
        right: 50px;
        width: 150%;
    }
    section .services .services_items .item {
        margin: 0 1% 30px;
        width: 98%;
    }
    section .cases .owl-item>div .case a {
        width: 110%;
        text-align: center;
        margin-left: -5%;
        margin-top: 10px;
    }
    section .cases .owl-item>div {
        padding: 0;
    }
    section .cases .owl-item>div .case {
        padding: 40px 8% 15px;
        border-left: none;
        border-right: none;

    }
    section .cases_carousel .owl-nav span {
        display: inline-block;
        height: 100px;
        width: 50px;
        border-radius: 0 50px 50px 0;
    }
    section .cases_carousel .owl-nav span::after,
    section .cases_carousel .owl-nav span::before {
        width: 35px;
        border-top: 4px solid #fff;
    }
    section .cases_carousel .owl-nav .owl-prev span::before {
        top: 37px;
        left: 3px;
        transform: rotate(135deg);
    }
    section .cases_carousel .owl-nav .owl-prev span::after {
        bottom: 37px;
        left: 3px;
        transform: rotate(45deg);
    }
    section .cases_carousel .owl-nav .owl-next span::after {
        bottom: 37px;
        right: 3px;
        transform: rotate(135deg);
        height: 0;
    }
    section .cases_carousel .owl-nav .owl-next span::before {
        top: 37px;
        right: 3px;
        transform: rotate(45deg);
        height: 0;
    }
    section .blog .blogs .blogs_item {
        width: 100%;
    }
    section .about {
        padding: 0;
    }
    section .about .text {
        padding: 0 10px;
    }
    section .about .buy_sell {
        flex-direction: column;
    }
    section .about .buy_sell a {
        border-radius: 0;
        text-align: center;
        padding: 20px 0;
    }
    section .about .buy_sell a+a {
        margin-top: 30px;
    }
    section .seling_carousel .seling_carousel_info {
        padding: 30px 10px;
        width: 95%;
    }
    section .categories li {
        text-align: center;
    }
    section .title,
    section .seling_carousel .seling_carousel_info p {
        font-size: 24px;
    }
    section .categories a,
    section .seling_carousel .seling_carousel_info div {
        font-size: 16px;
    }
    section .promo_block {
        padding: 30px 20px;
    }
    section .promo_block .text .title {
        font-size: 30px;
        margin: 0 0 15px;
    }
    section .promo_block .text p {
        font-size: 14px;
    }
    section .promo_block .categories {
        justify-content: flex-end;
    }
    section .promo_block>img {
        right: auto;
        left: -40%;
    }
    section .services .title {
        text-align: center;
    }
    .header_left_side p, .header_right_side p {
        font-size: 14px;
    }
}