@font-face {
    font-family: "GothamPro";
    src: url("./fonts/GothaProReg.otf") format("opentype");
}
@font-face {
    font-family: "GothamPro_Ita";
    src: url("./fonts/GothaProIta.otf") format("opentype");
}
@font-face {
    font-family: "GothamPro_Med";
    src: url("./fonts/GothaProMed.otf") format("opentype");
}
@font-face {
    font-family: "GothamPro_Med_Ita";
    src: url("./fonts/GothaProMedIta.otf") format("opentype");
}
@font-face {
    font-family: "GothamPro_Lig";
    src: url("./fonts/GothaProLig.otf") format("opentype");
}
@font-face {
    font-family: "GothamPro_Lig_Ita";
    src: url("./fonts/GothaProLigIta.otf") format("opentype");
}
@font-face {
    font-family: "GothamPro_Bol";
    src: url("./fonts/GothaProBol.otf") format("opentype");
}
@font-face {
    font-family: "GothamPro_Bol_Ita";
    src: url("./fonts/GothaProBolIta.otf") format("opentype");
}
@font-face {
    font-family: "Ubuntu";
    src: url("./fonts/Ubuntu.ttf") format("opentype");
}
body {
    font-family: "GothamPro";
    font-size: 18px;
    color: #000;
}
p {
    margin: 0;
}
a {
    color: #000;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
.casual_button {
    color: #fff;
    background: #c09d74;
    padding: 15px 25px;
    border-radius: 4px;
    display: inline-block;
    transition: background 0.3s;
}
.casual_button:hover {
    background: #d8b48a;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}
header .header_left_side,
header .header_right_side {
    width: 40%;
}
header .header_left_side div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0 ;
}
header .header_left_side div a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    padding-right: 20px;
}
header .header_left_side .dwnld_presentation img {
    width: 35px;
    padding-right: 10px;
}
header .header_left_side div form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
header .header_left_side div input {
    width: 100px;
    font-family: "Ubuntu";
    border: none;
    border-bottom: 1px solid #dbdbdb;
    font-size: 14px;
    outline: none;
    padding-left: 5px;
    margin-right: 5px;
}
header .header_left_side div button {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 100%;
}
header .header_left_side div button img {
    width: 28px;
}
header .header_left_side .menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
header .header_left_side .menu li {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}
header .logo {
    width: 190px;
}
header .header_right_side {
    text-align: right;
}
header .header_right_side .telephone {
    font-size: 36px;
    font-family: "GothamPro_Med";
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    float: right;
    margin-right: 0;
    margin-left: auto;
    padding: 5px 0;
}
header .header_right_side .telephone img {
    width: 50px;
    padding-right: 15px;
}
header .header_right_side .callback {
    float: right;
}
section {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}
section .slider {
    margin-right: -50px;
    margin-left: -50px;
}
section .seling_carousel .owl-dots {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    line-height: 11px;
}
section .seling_carousel button {
    line-height: 9px;
    outline: none;
}
section .seling_carousel button.owl-dot span {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #fff;
    border-radius: 5px;
    margin: 0 2.5px;
}
section .seling_carousel button.owl-dot span::before {
    content: ' ';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    position: relative;
    top: 3px;
    left: 3px;
    background: #fff;
}
section .seling_carousel button.owl-dot.active span::before {
    background: #c09d74;
}
section .seling_carousel .owl-item>div {
    height: 31vmax;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}
section .seling_carousel .seling_carousel_info {
    width: 38%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 50px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    text-align: center;
    color: #fff;
}
section .seling_carousel .seling_carousel_info p {
    font-family: "GothamPro_Bol";
    font-size: 30px;
}
section .seling_carousel .seling_carousel_info div {
    font-family: "GothamPro_Bol";
    font-size: 18px;
    padding: 20px 0;
}
section .seling_carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    overflow: hidden;
    height: 150px;
}
section .seling_carousel .owl-nav span {
    display: inline-block;
    height: 150px;
    width: 75px;
    border-radius: 0 75px 75px 0;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .5s;
}

section .seling_carousel .owl-nav span::before {
    content: ' ';
    display: inline-block;
    width: 45px;
    border-top: 5px solid #fff;
    position: absolute;
    top: 58px;
    left: 10px;
    transform: rotate(135deg);
}
section .seling_carousel .owl-nav span::after {
    content: ' ';
    display: inline-block;
    width: 45px;
    border-top: 5px solid #fff;
    position: absolute;
    bottom: 58px;
    left: 10px;
    transform: rotate(45deg);
}
section .seling_carousel .owl-nav .owl-prev span {
    left: -80px;
}
section .seling_carousel .owl-nav .owl-next span {
    right: -80px;
    border-radius: 75px 0 0 75px;
}
section .seling_carousel .owl-nav .owl-prev span:hover,
section .seling_carousel:hover .owl-nav .owl-prev span {
    left: 0;
}
section .seling_carousel .owl-nav .owl-next span:hover,
section .seling_carousel:hover .owl-nav .owl-next span {
    right: 0;
}
section .seling_carousel .owl-nav .owl-next span::before {
    transform: rotate(45deg);
    left: auto;
    right: 10px;
}
section .seling_carousel .owl-nav .owl-next span::after {
    transform: rotate(135deg);
    left: auto;
    right: 10px;
}
section .title {
    text-align: center;
    font-size: 36px;
    margin: 40px 0;
}
section .categories {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}
section .categories a {
    text-transform: uppercase;
}
section .choise,
section .choise>* {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
section .choise {
    padding: 8px 10px;
    background: #c09d74;
    border: 1px solid #e0ceba;
    outline: 3px solid #c09d74;
    margin: 3px 3px 38px;
    box-sizing: border-box;
    width: auto;
}
section .choise select {
    font-family: "Ubuntu";
    font-size: 14px;
    color: #666666;
    padding: 5px 0 6px 7px;
    outline: none;
    border: 1px solid #dbdbdb;
}
section .choise #type,
section .choise #region {
    width: 23%;
}
section .choise #price_from,
section .choise #price_to {
    width: 15%;
}
section .choise #value {
    width: 5%;
}
section .choise button[type='submit'] {
    font-family: "Ubuntu";
    width: 15%;
    border: none;
    outline: none;
    background: #f4eddf;
    text-decoration: underline;
    padding: 10px 0;
    cursor: pointer;
}
section .choise button[type='submit']:hover {
    text-decoration: none;
}
section .agent_with_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
section .agent_with_cards .agent {
    width: 33%;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    flex-direction: column;
}
section .agent_with_cards .agent .is_agent {
    padding: 35px 40px 40px;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
}
section .agent_with_cards .agent .is_agent .img {
    display: inline-block;
    width: 225px;
    height: 225px;
    border-radius: 113px;
    background-size: cover;
    background-position: center;
}
section .agent_with_cards .agent .is_agent p {
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 25px;
}
section .agent_with_cards .agent .is_agent .name {
    text-align: center;
    font-family: "GothamPro_Ita";
    padding: 15px 0 20px;
}
section .agent_with_cards .agent .is_estate {
    padding: 35px 25px;
}
section .agent_with_cards .agent .is_estate p {
    font-family: "Ubuntu";
}
section .agent_with_cards .agent .is_estate .title {
    font-size: 30px;
    margin: 0 0 20px;
    text-align: left;
}
section .agent_with_cards .cards {
    width: 66%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
section .agent_with_cards .card {
    width: 49.4%;
    border: 1px solid #dbdbdb;
    margin-bottom: 1.3%;
    padding: 0 10px 10px;
    box-sizing: border-box;
    position: relative;
}
section .agent_with_cards .card:last-of-type {
    margin-bottom: 45px;
}
section .agent_with_cards .card .img {
    display: block;
    padding-bottom: 65%;
    background-size: cover;
    background-position: center;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
}
section .agent_with_cards .card .img::before {
    content: ' ';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: none;
    transition: all 1s;
}
section .agent_with_cards .card .img:hover::before {
    background: rgba(192, 157, 116, .3);
}
section .agent_with_cards .card .card_label {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
section .agent_with_cards .card .new_label,
section .agent_with_cards .card .ipo_label,
section .agent_with_cards .card .sold_label,
section .agent_with_cards .card .exlusive_label,
section .agent_with_cards .card .fast_label {
    padding: 7px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    float: left;
    margin: 0 2px 2px 0;
}
section .agent_with_cards .card .new_label {
    background: #25b025;
}
section .agent_with_cards .card .fast_label {
    background: #1170ff;
}
section .agent_with_cards .card .ipo_label {
    background: blueviolet;
}
section .agent_with_cards .card .sold_label {
    background: red;
}
section .agent_with_cards .card .exlusive_label {
    background: orange;
}
section .agent_with_cards .card .name {
    font-family: "Ubuntu";
    font-weight: bold;
    line-height: normal;
    padding: 10px 0;
    display: inline-block;
    text-decoration: none;
}
section .agent_with_cards .card .name:hover {
    text-decoration: underline;
}
section .agent_with_cards .card .tags {
    font-family: "Ubuntu";
    line-height: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    color: #393939;
}
section .agent_with_cards .card .price_rub {
    font-family: "GothamPro_Med";
    font-size: 24px;
    padding-top: 10px;
}
section .agent_with_cards .card .price_usd {
    font-family: "GothamPro_Med";
    font-size: 16px;
}
section .agent_with_cards .card .object_id {
    font-family: "GothamPro_Bol";
    position: absolute;
    right: 10px;
    bottom: 10px;
}
section .promo_block {
    background: #f4eddf;
    margin-left: -50px;
    margin-right: -50px;
    padding: 60px 50px;
    box-sizing: border-box;
    position: relative;
}
section .promo_block .text {
    width: 27%;
}
section .promo_block .text .title {
    text-align: left;
    font-weight: bolder;
    margin-top: 0;
}
section .promo_block .text .dwnld_presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 10px;
    text-decoration: none;
}
section .promo_block .text .dwnld_presentation img {
    width: 50px;
    padding-right: 10px;
}
section .promo_block .text .dwnld_presentation:hover {
    text-decoration: underline;
}
section .promo_block .text .categories a {
    text-transform: none;
    font-size: 14px;
    font-weight: bolder;
}
section .promo_block>img {
    position: absolute;
    right: 0;
    top: -17px;
    width: 70%;
    max-width: 940px;
}
section .services {
    padding-bottom: 40px;
}
section .services .title {
    text-align: left;
    font-family: "GothamPro_Med";
    font-size: 30px;
}
section .services .services_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}
section .services .services_items .item {
    width: 23%;
}
section .services .services_items .item img {
    margin-bottom: 15px;
}
section .services .services_items .item a {
    color: #5b5b5b;
    display: inline-block;
}
section .cases {
    margin-left: -50px;
    margin-right: -50px;
    padding: 0 50px;
    border-top: 1px solid #dbdbdb; 
    border-bottom: 1px solid #dbdbdb; 
}
section .cases .title {
    font-family: "GothamPro_Med";
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}
section .cases .cases_carousel {
    margin-top: 40px;
}
section .cases .owl-item>div {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
section .cases .owl-item>div .case,
section .cases .owl-item>div .description {
    width: 35%;
    border: 1px solid #dbdbdb;
}
section .cases .owl-item>div .case {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px 35px 40px;
}
section .cases .owl-item>div .case p {
    margin: 0;
    text-align: left;
}
section .cases .owl-item>div .case .title {
    margin-bottom: 15px;
}
section .cases .owl-item>div .case a {
    margin-top: auto;
}
section .cases .owl-item>div .realtor {
    width: 30%;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .cases .owl-item>div .realtor .img {
    display: inline-block;
    width: 225px;
    height: 225px;
    border-radius: 113px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
}
section .cases .owl-item>div .realtor p {
    font-style: italic;
}
section .cases .owl-item>div .description {
    padding: 20px 25px;
}
section .cases .owl-item>div .description .img {
    padding-bottom: 60%;
    margin-bottom: 20px;
}
section .cases_carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    overflow: hidden;
    height: 150px;
}
section .cases_carousel .owl-nav span {
    display: inline-block;
    height: 150px;
    width: 75px;
    border-radius: 0 75px 75px 0;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}
section .cases_carousel .owl-nav span::before {
    content: ' ';
    display: inline-block;
    width: 45px;
    border-top: 5px solid #fff;
    position: absolute;
    top: 58px;
    left: 10px;
    transform: rotate(135deg);
}
section .cases_carousel .owl-nav span::after {
    content: ' ';
    display: inline-block;
    width: 45px;
    border-top: 5px solid #fff;
    position: absolute;
    bottom: 58px;
    left: 10px;
    transform: rotate(45deg);
}
section .cases_carousel .owl-nav .owl-prev span {
    left: -80px;
}
section .cases_carousel .owl-nav .owl-next span {
    right: -80px;
    border-radius: 75px 0 0 75px;
}
section .cases_carousel .owl-nav .owl-prev span:hover,
section .cases_carousel:hover .owl-nav .owl-prev span {
    left: 0;
}
section .cases_carousel .owl-nav .owl-next span:hover,
section .cases_carousel:hover .owl-nav .owl-next span {
    right: 0;
}
section .cases_carousel .owl-nav .owl-next span::before {
    transform: rotate(45deg);
    left: auto;
    right: 10px;
}
section .cases_carousel .owl-nav .owl-next span::after {
    transform: rotate(135deg);
    left: auto;
    right: 10px;
}
section .cases>a {
    display: block;
    width: 250px;
    margin: 30px auto;
    font-size: 24px;
    color: #c09d74;
}
section .blog .title {
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}
section .blog .blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}
section .blog .blogs .blogs_item {
    width: 49%;
    height: 166px;
    margin-bottom: 2%;
    position: relative;
}
section .blog .blogs .blogs_item .img {
    display: inline-block;
    width: 45%;
    height: 100%;
    float: left;
    background-size: cover;
    background-position: center;
}
section .blog .blogs .blogs_item .name::before {
    content: ' ';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: none;
    transition: all 0.3s;
    box-sizing: border-box;
    border: 3px solid #c09d74;
    opacity: 0;
} 
section .blog .blogs .blogs_item .name:hover::before {
    opacity: 1;
} 
section .blog .blogs .blogs_item div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 10px 0 20px;
    border: 1px solid #dbdbdb;
    border-left: none;
    box-sizing: border-box;
}
section .blog .blogs .blogs_item .name {
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bolder;
}
section .blog .blogs .blogs_item .name:hover {
    text-decoration: underline;
}
section .blog .blogs .blogs_item p {
    color: #393939;
}
section .blog .more_blogs {
    display: block;
    width: 290px;
    margin: 10px auto 30px;
    font-size: 24px;
    color: #c09d74;
}
section .about {
    margin-left: -50px;
    margin-right: -50px;
    position: relative;
}
section .about .buy_sell {
    width: 800px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}
section .about::after,
section .about::before {
    content: ' ';
    display: inline-block;
    width: 16%;
    padding-bottom: 25%;
    max-height: 345px;
    background-image: url('../image/left-side.png');
    background-position: 0 center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: -15%;
}
section .about::after {
    left: auto;
    right: 0;
    background-image: url('../image/right-side.png');
}
section .about .buy_sell a {
    font-size: 24px;
    padding: 20px 40px;
}
section .about .text {
    width: 800px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
}
section .about .text p {
    font-family: "Ubuntu";
    margin-bottom: 20px;
}
section .about .text p:last-of-type {
    margin-bottom: 60px;
}
section .about .text .title {
    font-family: "Ubuntu";
    font-size: 30px;
    margin: 60px 0 30px;
}








footer {
    display: flex;
    flex-direction: row;
    padding: 40px 50px;
    background: #f4eddf;
    font-family: "Ubuntu";
    flex-wrap: wrap;
}
footer .footer_left_side,
footer .footer_right_side {
    width: 50%;
    display: flex;
    flex-direction: column;
    order: 0;
}
footer .footer_left_side .categories,
footer .footer_left_side .menu {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
footer .footer_left_side .categories a {
    color: #929292;
}
footer .footer_left_side .menu {
    padding-bottom: 40px;
}
footer .footer_left_side .categories li,
footer .footer_left_side .menu li {
    margin-right: 20px;
    margin-bottom: 5px;
}
footer .footer_left_side p {
    margin-top: auto;
    margin-bottom: 0;
}
footer .footer_right_side {
    align-items: flex-end;
    justify-content: space-between;
    order: 1;
}
footer .footer_right_side .telephone {
    font-size: 36px;
    text-decoration: none;
    padding-bottom: 5px;
}
footer .footer_right_side .mailto {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: auto;
}
footer .footer_right_side .socials {
    list-style: none;
    margin: 40px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
footer .footer_right_side .socials a {
    margin-left: 10px;
}
footer .footer_right_side .socials img {
    width: 35px;
}
footer p {
    order: 2;
    align-self: flex-end;
}
footer .m2 {
    margin-right: 0;
    margin-left: auto;
}
footer .m2 img {
    width: 40px;
    position: relative;
    top: 12px;
    padding-left: 5px;
}
